.button {
  display: block;
  width: 280px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: $btn-color;
  border: 0;

  @include font-osw(14px);

  &:hover,
  &:focus {
    background-color: $btn-color-dark;
  }

  &:active {
    color: rgba(white, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 245px;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 15px;
  }
}

.button--catalog {
  width: 100%;
  margin: 0;
  margin-bottom: 23px;
  padding-top: 12px;
  padding-bottom: 10px;

  @include font-osw(16px);

  @media (min-width: $tablet-width) {
    width: 249px;
    margin-bottom: 20px;
    margin-left: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin-left: 0;
  }
}

.button--add {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: 0;
    padding-left: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 0;
  }
}

.button--validate {
  margin-left: 21px;
  width: 280px;
  margin-bottom: 20px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    min-height: 52px;
  }
}
