.card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid $border;
  padding-left: 20px;
  padding-right: 20px;
}

.card__title {
  @include font-osw(16px);
  width: 100px;
  color: $header;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 12px;

  &--width {
    width: 100%;
    margin-bottom: 8px;
  }
}

.card__wrapper {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  color: $text-color;
  line-height: 1.2;
  padding: 0;
  margin-left: -2px;

  &--add {
    font-size: 14px;
    margin-bottom: 13px;
  }
}

.card__text-wrapper {
  flex-grow: 1;
  padding-top: 23px;
}

.card__cell2 {
  padding: 0;
  text-align: right;
}

.card__image {
  width: 140px;
  height: 144px;
}

.card__image-wrapper {
  width: 140px;
  height: 144px;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 1px;
}

.card__add {
  padding: 0;
  padding-top: 12px;
}
