.card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid $border;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    border: none;
    width: 324px;
    background-color: $gray;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 140px;
    box-sizing: border-box;
    justify-content: center;
    padding-left: 39px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.card__title {
  @include font-osw(16px);
  width: 100px;
  color: $header;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 12px;

  &--width {
    width: 100%;
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: center;
    width: 130px;
    margin: 0 auto;
    line-height: 1;
    margin-bottom: 20px;
  }
}

.card__wrapper {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  color: $text-color;
  line-height: 1.2;
  padding: 0;
  margin-left: -2px;

  &--add {
    font-size: 14px;
    margin-bottom: 13px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.86;
  }
}

@media (min-width: $tablet-width) {
  .card__wrapper tr {
    border-bottom: 1px solid #d9d9d9;
  }
}

@media (min-width: $tablet-width) {
  .card__wrapper--add tr {
    border-bottom: none;
  }
}

.card__text-wrapper {
  flex-grow: 1;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    padding-top: 0;
    flex-grow: 0;
  }
}

.card__cell2 {
  padding: 0;
  text-align: right;
}

.card__image {
  width: 140px;
  height: 144px;
}

.card__image-wrapper {
  width: 140px;
  height: 144px;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 1px;
}

.card--add {
  padding: 0;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    background-color: white;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 25px;
  }
}

@media (min-width: $tablet-width) {
  .card__title--width {
    width: 160px;
    margin: 0;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .card__title--width {
    width: 175px;
  }
}

@media (min-width: $tablet-width) {
  .card__wrapper--add tr {
    padding: 0;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .card__cell2 {
    width: 95px;
  }
}

.card___position {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;
    width: 633px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    margin-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .card--add {
    display: flex;
  }
}
