.card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid $border;
  padding-left: 19px;
  padding-right: 21px;

  @media (min-width: $tablet-width) {
    border: none;
    min-width: 324px;
    width: 45%;
    background-color: $gray;
    margin-bottom: 140px;
    box-sizing: border-box;
    justify-content: center;
    padding: 0;
    min-height: 430px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    width: 245px;
  }
}

.card__title {
  @include font-osw(16px);
  width: 100px;
  color: $header;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 12px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: center;
    width: 130px;
    margin: 0 auto;
    line-height: 1;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.card__title--width {
  width: 100%;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;
    max-width: 230px;
    min-width: 230px;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    margin-top: -5px;
  }
}

.card__wrapper {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  color: $text-color;
  line-height: 1.2;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.86;
    margin: 0 auto;
    width: 90%;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
  }
}

.card__wrapper tr {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #d9d9d9;
  }
}

.card__wrapper--add tr {
  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.card__wrapper--add {
  font-size: 14px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    width: 65%;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    max-width: 307px;
  }
}

.card__text-wrapper {
  flex-grow: 1;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    margin-bottom: 34px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 208px;
  }
}

.card__cell2 {
  padding: 0;
  text-align: right;

  @media (min-width: $tablet-width) {
    width: 95px;
  }

  @media (min-width: $desktop-width) {
    width: 65px;
    text-align: left;
  }
}

.card__cell2--item {
  @media (min-width: $desktop-width) {
    text-align: right;
  }
}

.card__image {
  width: 140px;
  height: 144px;

  @media (min-width: $tablet-width) {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    -ms-transform: translate(-120px, 0); /*stylelint-disable property-no-vendor-prefix */
  }
}

.card__image-wrapper {
  width: 140px;
  height: 144px;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 1px;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 208px;
    margin-top: -35px;
    position: absolute;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.card__wrapper-all {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-top: -45px;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    min-height: 324px;
  }
}

.card--add {
  padding: 0;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    background-color: white;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 25px;
    padding-bottom: 8px;
    min-height: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    border-left: none;
    border-right: none;
    padding: 0;
    padding-bottom: 15px;
    padding-top: 16px;
    align-items: center;
    justify-content: space-between;
  }
}

.card__position {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    width: 635px;
  }
}

.card__title-wrapper {
  width: 80px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0 auto;
    width: 130px;
    margin-bottom: 12px;
  }
}
