.cat-form__wrapper {
  padding-top: 23px;
  border-top: 1px solid $border;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-top: 0;
  }
}

.cat-form__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: $header;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  &--main {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    margin-bottom: 55px;
  }
}

.cat-form__text {
  @include font-osw(14px);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 13px;
  color: $header;
  line-height: 1.3;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 70px;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 43px;
    margin-bottom: 62px;
  }
}

.cat-form fieldset {
  border: none;
  margin: 0;
}

.cat-form__block {
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.cat-form__block-wrapper {
  box-sizing: border-box;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 26px;
  min-height: 180px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 9px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding-left: 70px;
    padding-right: 67px;
    padding-top: 50px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.cat-form__data {
  width: 100%;
  justify-content: space-between;
  display: flex;

  @media (min-width: $desktop-width) {
    width: 49%;
  }
}

.cat-form__data--100 {
  width: 100%;
}

.cat-form__radio {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.cat-form__radio-wrapper {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-left: 65px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 25px;
  border: 1px solid $dark-border;
  height: 158px;
  align-content: space-between;

  @media (min-width: $tablet-width) {
    width: 630px;
    height: 196px;
    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 196px;
    padding-top: 35px;
    padding-bottom: 28px;
  }
}

.cat-form__title {
  width: 182px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    width: 100%;
  }
}

.cat-form__title--additional {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.cat-form__title--comment {
  margin: 0;
  margin-bottom: 35px;
  width: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.cat-form__title--contact::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  height: 3px;
  background-color: $btn-color;
  width: 99px;
  margin-top: -10px;
  margin-left: 47px;

  @media (min-width: $tablet-width) {
    width: 144px;
    margin-top: 23px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin-top: 20px;
    margin-left: 44px;
  }
}

.cat-form__title--contact::before {
  @media (min-width: $tablet-width) {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 3px;
    background-color: $btn-color;
    width: 40px;
    margin-top: 23px;
    margin-left: -80px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    margin-top: 20px;
    margin-left: -110px;
  }
}

.cat-form__title--comment::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  height: 3px;
  background-color: $btn-color;
  width: 157px;
  margin-top: 13px;
  margin-left: 25px;

  @media (min-width: $tablet-width) {
    width: 478px;
    margin-top: 23px;
    margin-left: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 1110px;
    margin-top: 20px;
    margin-left: 42px;
  }
}

.cat-form__title--comment::before {
  @media (min-width: $tablet-width) {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 3px;
    background-color: $btn-color;
    width: 28px;
    margin-top: 23px;
    margin-left: -70px;
  }

  @media (min-width: $desktop-width) {
    width: 75px;
    margin-top: 20px;
    margin-left: -106px;
  }
}

.cat-form__title--additional::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  height: 3px;
  background-color: $btn-color;
  width: 136px;
  margin-top: 14px;
  margin-left: 24px;

  @media (min-width: $tablet-width) {
    width: 446px;
    margin-top: 23px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1074px;
    margin-top: 23px;
    margin-left: 40px;
  }
}

.cat-form__title--additional::before {
  @media (min-width: $tablet-width) {
    box-sizing: inherit;
    content: "";
    position: absolute;
    height: 3px;
    background-color: $btn-color;
    width: 30px;
    margin-top: 23px;
    margin-left: -70px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    margin-top: 23px;
    margin-left: -110px;
  }
}

.cat-form__data-wrapper {
  padding-left: 47px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.cat-form__required {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $text-color;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.cat-form__comments {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 67px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 41px;
    padding-right: 40px;
    padding-bottom: 103px;
  }
}

.cat-form__comment-wrapper {
  padding-top: 0;
  padding-left: 19px;
  padding-right: 20px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.cat-form__client__wrapper {
  padding-bottom: 14px;
  padding-right: 0;
  padding-top: 10px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 42px;
    padding-right: 0;
    padding-bottom: 52px;
  }
}

.cat-form__client {
  padding: 0;
}

.cat-form__checkbox {
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 16px;

  &--in {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 67px;
    padding-left: 70px;
    padding-top: 0;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 42px;
    padding-right: 135px;
    padding-bottom: 13px;
  }
}

.cat-form__data--in label::before {
  content: "";
  display: block;
  height: 28px;
  width: 28px;
  border: 1px solid $dark-border;
  top: -5px;
  left: -46px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 40px;
    width: 40px;
    left: 0;
  }
}

.cat-form__data--in label::before,
.cat-form__data--in label::after {
  position: absolute;
}

.cat-form__data--in label {
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.cat-form__title--contact {
  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    padding: 0;
    margin-top: 0;
  }
}

.cat-form__data--in {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 46%;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-right: auto;
    margin-bottom: 50px;

    &:nth-child(2) {
      margin-left: -25px;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 70px;
    }
  }
}

.cat-form__required-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 71px;
    text-align: center;
    padding-right: 170px;
    align-items: center;
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 43px;
    padding-right: 430px;
    padding-top: 6px;
  }
}

.cat-form__block-radio-wrpapper {
  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 44px;
    padding-right: 40px;
    padding-bottom: 54px;
    justify-content: space-between;
  }
}

.cat-form__email-tel-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.cat-form__header--form {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    margin-bottom: 50px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 52px;
  }
}

.cat-form__individual {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 88px;
  }
}

.cat-form__individual label::before {
  content: "";
  display: block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid $dark-border;
  top: -7px;
  left: -46px;

  &:hover {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    height: 40px;
    width: 40px;
    top: -8px;
    left: -60px;
  }
}

.cat-form__individual label {
  position: relative;
}

.cat-form__individual label::before,
.cat-form__individual label::after {
  position: absolute;
}
