.cat-form__wrapper {
  padding-top: 23px;
  border-top: 1px solid $border;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-top: 0;
  }
}

.cat-form__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: $header;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  &--main {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    margin-bottom: 55px;
  }
}

.cat-form__text {
  @include font-osw(14px);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 13px;
  color: $header;
  line-height: 1.3;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 70px;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 43px;
    margin-bottom: 62px;
  }
}

.cat-form fieldset {
  border: none;
  margin: 0;
}

.cat-form__block {
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.cat-form__block-wrapper {
  box-sizing: border-box;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 26px;
  min-height: 180px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 9px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding-left: 70px;
    padding-right: 67px;
    padding-top: 53px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.cat-form__data {
  width: 100%;
  justify-content: space-between;
  display: flex;

  @media (min-width: $desktop-width) {
    width: 49%;
  }
}

.cat-form__data--100 {
  width: 100%;
}

.cat-form__radio {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.cat-form__radio-wrapper {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 28px;
  border: 1px solid $dark-border;
  height: 158px;
  align-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 196px;
    padding-left: 0;
    padding-top: 29px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 196px;
    padding-top: 35px;
    padding-bottom: 28px;
  }
}

.cat-form__title {
  width: 182px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 34px;
  background-color: white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.cat-form__title--additional {
  margin: 0;
  margin-bottom: 40px;
  width: 166px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    padding: 0 40px;
    margin-left: -40px;
    width: 210px;
  }
}

.cat-form__title--comment {
  margin: 0;
  margin-bottom: 35px;
  width: 145px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    padding: 0 40px;
    margin-left: -42px;
    width: 180px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.cat-form__data-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.cat-form__required {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $text-color;
  text-align: center;
  margin-top: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: -2px;
  }
}

.cat-form__comments {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 67px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 41px;
    padding-right: 40px;
    padding-bottom: 94px;
  }
}

.cat-form__comment-wrapper {
  padding-top: 0;
  padding-left: 19px;
  padding-right: 20px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.cat-form__container {
  padding-bottom: 12px;
  padding-right: 0;
  padding-top: 25px;
  padding-left: 20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 42px;
    padding-right: 0;
    padding-bottom: 49px;
  }
}

.cat-form__client {
  padding: 0;
}

.cat-form__checkbox {
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 16px;

  &--in {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 67px;
    padding-left: 70px;
    padding-top: 0;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 42px;
    padding-right: 135px;
    padding-bottom: 13px;
  }
}

.cat-form__data--in label::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  border: 1px solid $dark-border;
  top: -5px;
  left: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 40px;
    width: 40px;
    left: 0;
  }
}

.cat-form__data--in label::before,
.cat-form__data--in label::after {
  position: absolute;
}

.cat-form__data--in label {
  position: relative;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    padding-left: 40px;
  }
}

.cat-form__title--contact {
  margin-top: 0;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
    padding: 0 40px;
    margin-left: -40px;
    width: 520px;
  }
}

.cat-form__green-line::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #68b738;
    left: 0;
    margin-top: 22px;
    z-index: -4;
    width: 100%;
    min-width: 795px;
  }
}

.cat-form__green-line::after {
  @media (max-width: 767px) {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #68b738;
    margin-top: 15px;
    z-index: -4;
    width: 50%;
  }
}

.cat-form__green-line--comment::after {
  @media (max-width: 767px) {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #68b738;
    margin-top: 15px;
    z-index: -4;
    width: 56%;
  }
}

.cat-form__green--top::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #68b738;
  margin-top: -10px;
  z-index: -4;
  width: 45%;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.cat-form__green--top::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #68b738;
    left: 0;
    margin-top: 22px;
    z-index: -4;
    width: 100%;
    min-width: 795px;
  }
}

.cat-form__span--top {
  @media (max-width: 767px) {
    margin-top: -22px;
  }
}

.cat-form__span-add {
  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }
}

.cat-form__data--in {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 46%;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-right: auto;
    margin-bottom: 50px;

    &:nth-child(2) {
      margin-left: -25px;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 70px;
    }
  }
}

.cat-form__required-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 71px;
    text-align: center;
    padding-right: 174px;
    align-items: center;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 43px;
    padding-right: 430px;
    padding-top: 6px;
  }
}

.cat-form__block-radio-wrpapper {
  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 44px;
    padding-right: 40px;
    padding-bottom: 54px;
    justify-content: space-between;
  }
}

.cat-form__email-tel-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.cat-form__header--form {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    margin-bottom: 50px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 52px;
  }
}

.cat-form__individual {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.cat-form__individual label::before {
  content: "";
  display: block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid $dark-border;
  top: -7px;
  left: 0;

  @media (min-width: $tablet-width) {
    height: 40px;
    width: 40px;
    top: -10px;
    left: 26px;
  }
}

.cat-form__individual label {
  position: relative;
}

.cat-form__individual label::before,
.cat-form__individual label::after {
  position: absolute;
}
