.cat-form__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: $black-tree;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

.cat-form__text {
  @include font-osw(14px);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 36px;
  color: $black-tree;
  line-height: 1.3em;
}

.cat-form fieldset {
  border: none;
  margin: 0;
}

.cat-form__block {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 25px;
  min-height: 180px;
}

.cat-form__data {
  display: flex;
  min-height: 47px;
}

.cat-form__radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  border: 0.5px solid $light-gray;
  height: 130px;
  align-content: space-between;
}
.cat-form__title {
  width: 179px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.cat-form__required {
  font-family: Arial;
  font-size: 14px;
  color: $black-brown;
  text-align: center;
}
