.extra-items {
  @media (min-width: $tablet-width) {
    margin-top: -77px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -67px;
  }
}

.extra-items__wrapper {
  padding-top: 28px;
  padding-right: 18px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 85px;
    padding-left: 3px;
    padding-right: 0;
  }
}

.extra-items__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  margin-bottom: 32px;
  background-color: white;
  width: fit-content;
  padding-right: 21px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding-left: 37px;
    margin-bottom: 78px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.extra-items__card-wrapper {
  display: block;

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $border;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    padding-left: 40px;
  }
}
