.extra-items {
  padding-top: 28px;
  padding-right: 18px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    margin-top: -77px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -67px;
    padding-bottom: 85px;
    padding-left: 3px;
    padding-right: 0;
  }
}

.extra-items__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  margin-bottom: 32px;
  background-color: white;
  padding-right: 21px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding-left: 37px;
    margin-bottom: 78px;
    padding-right: 37px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    width: 340px;
  }
}

.extra-items__green-line::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #68b738;
    left: 0;
    margin-top: 27px;
    z-index: -4;
    width: 100%;
  }
}

.extra-items__green-line::after {
  @media (max-width: 767px) {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #68b738;
    right: 0;
    width: 17%;
    margin-top: 15px;
  }
}

.extra-items__card-wrapper {
  display: block;

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $border;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    padding-left: 40px;
  }
}
