.field-checkbox {
  padding-left: 30px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
  }
}

.field-checkbox__lebel {
  @include font-osw(16px);
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field-checkbox__input:checked + .field-checkbox__lebel::after {
  width: 18px;
  height: 11px;
  border-radius: 1px;
  border-left: 2px solid #68b738;
  border-bottom: 2px solid #68b738;
  content: "";
  display: block;
  left: 7px;
  bottom: 7px;
  transform: rotate(-48deg);
  position: absolute;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 13px;
    left: 9px;
    bottom: 8px;
  }
}

.field-checkbox__input:focus + .field-checkbox__lebel {
  opacity: 0.5;
}

.field-checkbox input[type="checkbox"] {
  opacity: 0;
}
