.field-radio {
  width: 100%;
}

.field-radio__label {
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  @include font-osw(16px);
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field-radio input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.field-radio input:checked + .field-radio__label::after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid $btn-color;
  background-color: $btn-color;
  left: -37px;
  top: 2px;
  position: absolute;

  @media (min-width: $tablet-width) {
    left: -48px;
    top: 4px;
    height: 16px;
    width: 16px;
  }
}
