.field-checkbox {
  padding-left: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    padding-left: 55px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
  }
}

.field-checkbox__label {
  @include font-osw(16px);
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field-checkbox__input:checked + .field-checkbox__label::after {
  width: 18px;
  height: 11px;
  border-radius: 1px;
  border-left: 2px solid #68b738;
  border-bottom: 2px solid #68b738;
  content: "";
  display: block;
  left: 4px;
  bottom: 15px;
  transform: rotate(-48deg);
  position: absolute;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 13px;
    left: 9px;
    bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    left: 2px;
    bottom: 29px;
  }
}

.field-checkbox__input:not(:disabled) ~ .field-checkbox__label:hover::before {
  border-color: #bababa;
}

.field-checkbox__input:focus ~ .field-checkbox__label::before {
  border-color: #bababa;
}

.field-checkbox__input:disabled ~ .field-checkbox__label {
  opacity: 0.3;
  text-decoration: line-through;
  cursor: not-allowed;
}

.field-checkbox__label:active {
  opacity: 0.3;
}

.field-checkbox__label::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  border: 1px solid $dark-border;
  top: 5px;
  left: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 40px;
    width: 40px;
    left: 0;
    top: 12px;
  }

  @media (min-width: $desktop-width) {
    left: -8px;
  }
}

.field-checkbox__label::before,
.field-checkbox__label::after {
  position: absolute;
}
