.field-text__lebel {
  @include font-osw(16px);
  margin-right: 12px;
  color: $header;
  display: flex;
  flex-grow: 0;
  align-items: center;

  &--email {
    margin-right: 8px;
  }

  &--tel {
    margin-right: 6px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field-text input {
  height: 41px;
  padding-left: 14px;
  border: 1px solid $light-border;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field-text--nameinput input {
  padding-left: 12px;
}

.field-text__input {
  margin: 0;

  @include font-osw(16px);
  color: $text-color;
  flex-grow: 1;
}

.field-text {
  display: flex;
  margin-bottom: 14px;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.field-text__lebel--email::after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  background-image: url("../img/icon-mail.svg");
  background-size: 18px 14px;
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  margin-left: 198px;
  margin-top: 16px;
}

.field-text__lebel--tel::after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  background-size: 21px 21px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  margin-left: 180px;
  margin-top: 12px;
}
