.field-text__lebel {
  @include font-osw(16px);
  margin-right: 12px;
  color: $header;
  display: flex;
  flex-grow: 0;
  align-items: center;

  &--email {
    margin-right: 8px;

    @media (min-width: $tablet-width) {
      margin-right: 17px;
    }
  }

  &--tel {
    margin-right: 6px;

    @media (min-width: $tablet-width) {
      margin-right: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 18px;
  }
}

.field-text input {
  height: 41px;
  padding-left: 20px;
  border: 1px solid $light-border;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    height: 52px;
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;
  }

  &:focus,
  &:active {
    border: solid 2px #444444;
    outline: none;
    box-sizing: border-box;
  }

  &:invalid {
    outline: $invalid;
  }
}

.field-text__input {
  margin: 0;

  @include font-osw(16px);
  color: $text-color;
  flex-grow: 1;
}

.field-text {
  display: flex;
  margin-bottom: 19px;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.field-text__svg-email {
  transform: translate(-35px, 10px);

  @media (min-width: $tablet-width) {
    transform: translate(-35px, 20px);
  }

  @media (min-width: $desktop-width) {
    width: 18px;
    height: 14px;
    transform: translate(533px, 23px);
    position: absolute;
  }
}

.field-text__svg-tel {
  transform: translate(-35px, 10px);

  @media (min-width: $tablet-width) {
    transform: translate(-35px, 20px);
  }

  @media (min-width: $desktop-width) {
    width: 21px;
    height: 21px;
    transform: translate(536px, 20px);
    position: absolute;
  }
}

.field-text__input--email {
  @media (min-width: $desktop-width) {
    width: 486px;
    flex-grow: 0;
    box-sizing: border-box;
  }
}

.field-text__input--tel {
  @media (min-width: $desktop-width) {
    width: 472px;
    flex-grow: 0;
    box-sizing: border-box;
  }
}
