.field-radio {
  width: 100%;
  padding-left: 30px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 70px;
  }
}

.field-radio__label {
  cursor: pointer;

  @include font-osw(16px);
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field-radio input[type="radio"] {
  opacity: 0;
}

.field-radio input:checked + .field-radio__label::after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid $btn-color;
  background-color: $btn-color;
  left: 9px;
  top: 2px;
  position: absolute;

  @media (min-width: $tablet-width) {
    left: 38px;
    top: 3px;
    height: 16px;
    width: 16px;
  }
}

.field-radio input:focus + .field-radio__label {
  opacity: 0.5;
}
