.footer-page {
  background-color: $gray;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -40px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.footer-page__wrapper {
  max-width: 1300px;
  box-sizing: border-box;
  text-align: center;
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 43px;
  padding-bottom: 15px;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 30px;
    padding-top: 49px;
    padding-bottom: 47px;
    align-items: center;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-left: 38px;
    padding-right: 40px;
    padding-top: 62px;
    padding-bottom: 50px;
  }
}

.footer-page__wrapper--catalog {
  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }
}

.footer-page__wrapper--form {
  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }
}

.footer-page__logo {
  margin: 0 auto;
  padding-bottom: 40px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.footer-page__logo-image {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.footer-page__html-academy {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-top: -10px;
  }
}

.footer-page__html-link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: $text-color;
  text-decoration: none;
  width: 91%;
  text-align: start;
  margin-top: 4px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 165px;
  }
}

.footer-page__html-icon {
  fill: currentColor;
  color: #666666;
  cursor: pointer;
  width: 37px;
  margin-top: -35px;
  margin-left: 97%;
  margin-bottom: 4px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-left: 8px;
    margin-bottom: -11px;
  }
}

.footer-page__html-link:hover svg {
  color: $btn-color;
}

.footer-page__logo-image:active {
  opacity: 0.6;
}
