.footer-page {
  background-color: $gray;
}

.footer-page__wrapper {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 34px;
    padding-right: 60px;
    padding-top: 68px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 109px;
    padding-right: 110px;
  }
}

.footer-page__logo {
  margin: 0 auto;
  padding-bottom: 40px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.footer-page__logo-image {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.footer-page__HTML-Academy {
  display: flex;
  justify-content: space-between;
}

.footer-page__HTML-link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: $text-color;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.footer-page__HTML-link::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 27px;
  height: 34px;
  margin-top: -25px;
  margin-left: 254px;
  display: block;
  background-image: url("../img/htmlacademy.png");
  background-size: 27px 34px;
  background-repeat: no-repeat;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: -24px;
    margin-left: 136px;
  }
}

.footer-page__HTML-link:hover::after {
  box-sizing: inherit;
  background-image: url("../img/htmlacademy-hover.png");
  background-repeat: no-repeat;
}

.footer-page__logo-image:active {
  opacity: 0.6;
}
