.gift {
  display: flex;
  align-items: flex-start;
  text-align: center;
  padding-top: 39px;
  border-top: 1px solid $border;
  margin: 0 auto;
  margin-bottom: 31px;
  min-height: 289px;
  width: 100%;
  justify-content: center;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-top: 27px;
    margin-bottom: 0;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin-right: 37px;
    margin-left: 75px;
    padding-top: 4px;
  }
}

.gift__about {
  width: 166px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: white;
  position: absolute;
  margin-top: 187px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 150px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    transform: translate(5px, 70px);
    -ms-transform: translate(-200px, 40px); /* stylelint-disable property-no-vendor-prefix */
    margin: 0;
  }

  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 56px;
    height: 61px;
    background-image: url("../img/gift.png");
    background-size: 56px 61px;
    bottom: 121px;
    right: 32%;

    @media (min-width: $tablet-width) {
      bottom: 6px;
      right: 266%;
    }

    @media (min-width: $desktop-width) {
      bottom: 121px;
      right: 32%;
    }
  }
}

.gift__img {
  @media (min-width: $tablet-width) {
    width: 710px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
  }
}
