.how-it-works__wrapper {
  padding-left: 20px;
  padding-top: 26px;
  padding-right: 20px;
  max-width: 1300px;
  margin: auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-top: 9px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 44px;
    padding-top: 35px;
    padding-left: 42px;
  }
}

.how-it-works__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: $header;
  font-weight: 400;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 69px;
  }
}

.how-it-works__list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: li;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.how-it-works__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    box-sizing: inherit;
    position: static;
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $btn-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }

  &--health::before {
    box-sizing: inherit;
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--form::before {
    box-sizing: inherit;
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--food::before {
    box-sizing: inherit;
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--time::before {
    box-sizing: inherit;
    background-image: url("../img/advantage-clock@1x.png");
  }

  @media (min-width: $tablet-width) {
    width: 240px;
    height: 230px;
    margin-right: 84px;
    align-items: flex-start;
    margin-bottom: 87px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.how-it-works__text {
  line-height: 1.3;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin: auto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    width: 250px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
  }
}

.how-it-works__text::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    font-weight: 400;
    color: #f2f2f2;
    z-index: -1;
    top: -110px;
    left: 116px;
    counter-increment: li;
    counter-reset: list -1;
    content: counter(li);
  }
}

.how-it-works__text span {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
