.how-it-works {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -5px;
  margin-bottom: 30px;
}

.how-it-works__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: $black-tree;
  font-weight: 400;
  margin-top: 32px;
}

.how-it-works__list {
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: 14px;
  margin-top: 0px;
}

.how-it-works__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2px;
  margin-bottom: 8px;

  &::before {
    content: "";
    position: static;
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    margin-top: 9px;
  }

  &--health::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--form::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--food::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}
.how-it-works__text {
  line-height: 1.3em;
  margin-top: 8px;
  font-family: Arial;
  font-size: 14px;
  color: $black-brown;
  padding-top: 1px;
  margin-bottom: 0px;
}
