.main-promo {
  text-align: center;
  color: white;
  margin: auto;
  max-width: 1300px;
  box-sizing: border-box;

  background-image: linear-gradient(to top, #ffffff 175px, transparent 175px),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto, 320px auto;
  width: 100%;
  background-color: #64a83b;
  background-position: top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(to top, #ffffff 175px, transparent 175px),
      url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 135px;
    background: none;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.main-promo__main-headline {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  padding-top: 26px;
  line-height: 1;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $header;
    font-size: 60px;
    padding-left: 117px;
    text-align: left;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 117px;
    padding-top: 78px;
    padding-right: 5px;
  }
}

.main-promo__mini-wrapper {
  @media (min-width: $desktop-width) {
    max-width: 610px;
  }
}

.main-promo__image {
  position: relative;
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 3px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    padding-left: 30px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-promo__slogan {
  min-height: 16px;
  margin-top: 0;

  @include font-osw(14px);

  @media (min-width: $tablet-width) {
    color: $header;
    font-size: 20px;
    padding-left: 119px;
    text-align: left;
    margin-bottom: 0;
    max-width: 630px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 117px;
  }
}

.main-promo__button {
  padding-right: 20px;
  padding-left: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    transform: translate(100px, 26px);
    margin-bottom: 553px;
  }

  @media (min-width: $desktop-width) {
    transform: translate(0, 0);
    margin-bottom: 132px;
    padding-left: 117px;
  }
}

.main-promo__image-wrapper {
  width: 100%;
  max-width: 1300px;

  @media (min-width: $tablet-width) {
    position: absolute;
  }

  @media (min-width: $desktop-width) {
    transform: translateX(110px);
    -ms-transform: translate(110px, -270px); /* stylelint-disable property-no-vendor-prefix */
  }
}

.main-promo__text-block {
  display: flex;
  padding-bottom: 13px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
  }
}
