.main-promo {
  @media (min-width: $desktop-width) {
    margin-bottom: 135px;
  }
}

.main-promo__wrapper {
  text-align: center;
  color: white;
  margin: auto;
  max-width: 1300px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background: none;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 50px;
  }
}

.main-promo__main-headline {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  padding-top: 26px;
  line-height: 1;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $header;
    font-size: 60px;
    padding-left: 117px;
    text-align: start;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 123px;
    padding-top: 78px;
  }
}

.main-promo__image {
  position: relative;
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 3px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    padding-left: 30px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-promo__slogan {
  height: 16px;
  margin-bottom: 29px;
  margin-top: 0;

  @include font-osw(14px);

  @media (min-width: $tablet-width) {
    color: $header;
    font-size: 20px;
    padding-left: 119px;
    text-align: start;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 123px;
  }
}

.main-promo__button {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    position: relative;
    transform: translate(100px, 31px);
    margin-bottom: 560px;
  }

  @media (min-width: $desktop-width) {
    transform: translate(-452px, 313px);
    margin-bottom: 447px;
  }
}

.main-promo__image-wrapper {
  @media (min-width: $tablet-width) {
    position: absolute;
    transform: translateX(30px);
  }

  @media (min-width: $desktop-width) {
    transform: translateX(490px);
  }
}
