.page-header__wrapper {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 11px;
  padding-bottom: 5px;
  min-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  max-width: 1300px;
  margin: auto;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    width: 100%;
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 38px;
    padding-top: 48px;
  }
}
