.product-catalog__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: $header;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 37px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-top: 26px;
    padding-left: 30px;
    margin-bottom: 161px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }
}

.product-catalog {
  border-top: 1px solid $border;
  padding-top: 23px;
  max-width: 1300px;
  width: 100%;
  margin: auto;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.product-catalog__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
  }
}
