.real-cat {
  background-color: $gray;
  padding-left: 20px;
  padding-top: 52px;
  margin: auto;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}

.real-cat__width-wrapper {
  max-width: 1300px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-left: 82px;
    margin-right: 80px;
  }
}

.real-cat__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: $header;
  font-weight: 400;
  margin: auto;
  margin-bottom: 19px;
  max-width: 1300px;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 51px;
    line-height: 0.9;
  }

  @media (min-width: $desktop-width) {
    line-height: 0.73;
    margin-left: 112px;
    margin-bottom: 84px;
  }
}

.real-cat__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $text-color;
  line-height: 1.3;
  margin-bottom: 25px;
  width: 90%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 54px;
    width: 685px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 70px;
  }
}

.real-cat__spending {
  @include font-osw(14px);
  text-align: center;
  margin: 0;
  margin-bottom: 37px;
  margin-top: -3px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    text-align: end;
    margin-bottom: 263px;
    margin-top: 0;
    padding-top: 7px;
    padding-right: 0;
    line-height: 1.4;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 329px;
    padding-top: 5px;
  }
}

.real-cat__spending span {
  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.real-cat__wrapper {
  @media (min-width: $desktop-width) {
    width: 436px;
    box-sizing: border-box;
  }
}

.real-cat__double-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    background-color: $gray;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 55px;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}
