.real-cat {
  background-color: $gray;
  padding-left: 20px;
  padding-top: 52px;

  @media (min-width: $tablet-width) {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}

.real-cat__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: $header;
  font-weight: 400;
  margin-bottom: 33px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 43px;
  }
}

.real-cat__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $text-color;
  line-height: 1.3;
  width: 95%;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 56px;
  }
}

.real-cat__spending {
  @include font-osw(14px);
  text-align: center;
  margin: 0;
  margin-bottom: 37px;
  margin-top: -3px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    text-align: end;
    margin-bottom: 266px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 320px;
  }
}

@media (min-width: $desktop-width) {
  .real-cat__spending span {
    margin-left: 50px;
  }
}

.real-cat__wrapper {
  @media (min-width: $desktop-width) {
    width: 460px;
    box-sizing: border-box;
  }
}

.real-cat__double-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    background-color: $gray;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 77px;
    padding-bottom: 76px;
    justify-content: space-between;
  }
}
