.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 366px;
  }

  @media (min-width: $desktop-width) {
    width: fit-content;
  }
}

.results__wrapper {
  width: calc(50% - 16px);
  text-align: center;
  border-radius: 3px;

  @media (min-width: $desktop-width) {
  }
}

.results__main-result {
  position: relative;
  padding: 13px 10px;
  padding-bottom: 16px;
  line-height: 1;
  border: 1px solid $dark-border;
  border-radius: 3px;
  margin-top: 0;
  margin-bottom: 0;

  @include font-osw(24px);

  @media (min-width: $tablet-width) {
    width: 162px;
    font-size: 30px;
    margin-right: 0;
    box-sizing: border-box;
  }
}

.results__wrtite {
  font-family: "Arial", sans-serif;
  color: $text-color;
  text-align: center;
  background-color: $gray;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  line-height: 1;
  transform: translateY(-8px);
  margin-bottom: 15px;
  margin-top: 0;
  width: 54px;

  @media (min-width: $tablet-width) {
    background-color: white;
    width: fit-content;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
    background-color: $gray;
  }
}

.results__big-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}
