.show-more {
  height: 210px;

  @media (min-width: $tablet-width) {
    border: 1px solid $border;
    width: 324px;
    height: 431px;
    box-sizing: border-box;
    padding-top: 81px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.show-more__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding-top: 82px;
  text-align: center;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    border: none;
    padding-left: 38px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.show-more__header {
  @include font-osw(16px);
  color: $header;
  margin: 0;
  margin-bottom: 11px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 135px;
    margin: 0 auto;
    line-height: 1;
    margin-bottom: 27px;
  }
}

.show-more__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: $text-color;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 167px;
    margin: 0 auto;
    margin-bottom: 96px;
  }
}

.show-more__button {
  @include font-osw(16px);
  background-color: $gray;
  padding: 9px 94px;
  width: 100%;
  text-decoration: none;
  color: $text-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 9px 78px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    box-sizing: border-box;
    padding: 9px 40px;
  }
}

.show-more__header::before {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 31px;
  border: 1px solid $light-border;
  background-color: $light-border;
  margin-top: -40px;
  margin-left: 86px;

  @media (min-width: $tablet-width) {
    border: 0.5px solid $light-border;
    width: 61px;
    margin-top: -79px;
    margin-left: 26px;
  }
}

.show-more__header::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 31px;
  border: 1px solid $light-border;
  background-color: $light-border;
  transform: rotate(90deg);
  margin-top: -40px;
  margin-left: -118px;

  @media (min-width: $tablet-width) {
    border: 0.5px solid $light-border;
    width: 61px;
    margin-top: -99px;
    margin-left: -98px;
  }
}
