.slider__image-wrapper {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 684px;
    height: 518px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
  }
}

.slider-image {
  position: relative;
  margin-bottom: 35px;
  margin-left: 0 auto;
  width: 100%;
  height: 240px;

  @media (min-width: $tablet-width) {
    margin-top: -169px;
    margin-bottom: 15px;
    position: absolute;
    margin-left: 0;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
    margin-top: -200px;
  }
}

.slider-image__before {
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  width: 100%;

  @media (min-width: $tablet-width) {
    background-image: url("../img/before-tablet@1x.png");
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/before-desktop@1x.png");
    margin-left: 10px;
    width: 53%;
  }
}

.slider-image__after {
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  width: 0%;
  transform: scaleX(-1);

  @media (min-width: $tablet-width) {
    background-image: url("../img/after-tablet@1x.png");
    left: auto;
    right: 0;
    z-index: 10;
    background-position-x: -11px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/after-desktop@1x.png");
    width: 47%;
  }
}

.slider__progress-button {
  @include font-osw(16px);
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px dotted #bbbaba;
    font-size: 20px;

    &:hover,
    &:focus {
      border-bottom: 1px solid #bbbaba;
      outline: transparent;
    }

    &:active {
      border-bottom: none;
      outline: transparent;
    }
  }
}

.slider__buttons-block {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: -4px;

  @media (min-width: $tablet-width) {
    z-index: 20;
    margin-top: -153px;
    margin-bottom: 70px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    margin-top: -160px;
    margin-left: 60px;
  }
}

.slider__range-wrapper {
  width: 80px;
  height: 12px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: auto;
    margin-left: 26px;
    margin-right: 18px;
    margin-bottom: 0;
  }
}
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 6px;
  background-color: $btn-color;
  border-radius: 3px;
  left: 1px;

  @media (min-width: $tablet-width) {
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 0 0 1px $dark-border;
    margin-top: -15px;

    &:hover {
      box-shadow: 0 0 0 1px $dark-border, 0 3px 3px 1px $dark-border;
    }

    &:active {
      box-shadow: 0 0 0 2px $btn-color, 0 6px 3px 1px $dark-border;
    }
  }
}

.slider__range::-moz-range-thumb {
  appearance: none;
  width: 35px;
  height: 6px;
  background-color: $btn-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 0 0 1px $dark-border;
  }
}

.slider__range:hover::-moz-range-thumb {
  @media (min-width: $tablet-width) {
    box-shadow: 0 0 0 1px $dark-border, 0 3px 3px 1px $dark-border;
  }
}

.slider__range:active::-moz-range-thumb {
  @media (min-width: $tablet-width) {
    box-shadow: 0 0 0 2px $btn-color, 0 6px 3px 1px $dark-border;
  }
}

.slider__range::-ms-thumb {
  width: 35px;
  height: 6px;
  background-color: $btn-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 0 0 1px $dark-border;
  }
}

.slider__range:hover::-ms-thumb {
  @media (min-width: $tablet-width) {
    box-shadow: 0 0 0 1px $dark-border, 0 3px 3px 1px $dark-border;
  }
}

.slider__range:active::-ms-thumb {
  @media (min-width: $tablet-width) {
    box-shadow: 0 0 0 2px $btn-color, 0 6px 3px 1px $dark-border;
  }
}

.slider__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    margin: 0;
    outline: 0;
  }
}

.slider__range::-moz-range-track {
  width: 100%;
  height: 16px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    margin-left: 26px;
    margin-right: 18px;
    margin-bottom: 0;
    outline: 0;
  }
}

.slider__range::-ms-track {
  width: 100%;
  height: 16px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 60px;
    background-color: #dcdcdc;
    border: none;
    padding: 0;
    margin-bottom: 0;
    outline: 0;
  }
}

input[type="range"]::-ms-fill-lower {
  width: 100%;
  height: 16px;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    outline: 0;
  }
}

input[type="range"]:focus::-ms-fill-lower {
  background: #dcdcdc;
}

input[type="range"]::-ms-fill-upper {
  -webkit-appearance: none;
  width: 100%;
  height: 16px;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    outline: 0;
  }
}

.slider__progress--after .slider__image-wrapper {
  -webkit-transform: none;
  transform: none;
  outline: none;
  border: none;
}

.slider_progress--after .slider__progress-toggle {
  -webkit-transform: translateX(-50%);
  transition: 2s;
  transform: translateX(-50%);
  outline: none;
  border: none;
}

.slider__progress .slider__progress-toggle {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  outline: none;
  border: none;
}

.slider {
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to right, $gray 50%, #eaeaea 50%, #eaeaea 100%);
    background-color: $gray;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-left: 117px;
    background: none;
  }
}
