.slider__image-wrapper {
  width: 311px;
  margin: auto;
  height: 233px;
  display: flex;
  align-items: center;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 690px;
    height: 517px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.slider-image {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 240px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    left: 0;
    top: 0;
    height: 100%;
  }
}

.slider-image__before {
  position: absolute;
  width: auto;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 517px;
    clip: rect(auto, 350px, auto, auto);
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    clip: rect(auto, 360px, auto, auto);
  }
}

.slider-image__after {
  position: absolute;
  transform: scaleX(-1);
  width: 0%;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 517px;
    left: auto;
    right: 0;
    clip: rect(auto, 350px, auto, auto);
    margin-right: -5px;
  }

  @media (min-width: $desktop-width) {
    clip: rect(auto, 330px, auto, auto);
    margin-right: -10px;
  }
}

.slider__progress-button {
  @include font-osw(16px);
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 5px;

  &:hover,
  &:focus,
  &:active {
    outline: transparent;
  }

  @media (min-width: $tablet-width) {
    border-bottom: 1px dotted #bbbaba;
    font-size: 20px;

    &:hover,
    &:focus {
      border-bottom: 1px solid #bbbaba;
      outline: transparent;
    }

    &:active {
      border-bottom: none;
      outline: transparent;
    }
  }
}

.slider__buttons-block {
  display: flex;
  align-items: baseline;
  justify-content: center;

  margin-top: 35px;
  margin-left: 6px;

  @media (min-width: $tablet-width) {
    z-index: 20;
    margin: 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 30px;
  }
}

.slider__range-wrapper {
  width: 80px;
  height: 12px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: auto;
    margin-left: 26px;
    margin-right: 18px;
    margin-bottom: 0;
    margin-top: -10px;
  }
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 6px;
  background-color: $btn-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 0 0 1px $dark-border;
    margin-top: -15px;
  }
}

.slider__range:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px $dark-border, 0 3px 3px 1px $dark-border;
}

.slider__range:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px $btn-color, 0 6px 3px 1px $dark-border;
}

.slider__range::-moz-range-thumb {
  appearance: none;
  width: 35px;
  height: 3px;
  background-color: $btn-color;
  border-radius: 20%;

  @media (min-width: $tablet-width) {
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 0 0 1px $dark-border;
  }
}

.slider__range:hover::-moz-range-thumb {
  @media (min-width: $tablet-width) {
    box-shadow: 0 0 0 1px $dark-border, 0 3px 3px 1px $dark-border;
  }
}

.slider__range:active::-moz-range-thumb {
  @media (min-width: $tablet-width) {
    box-shadow: 0 0 0 2px $btn-color, 0 6px 3px 1px $dark-border;
  }
}

.slider__range::-ms-thumb {
  width: 35px;
  height: 6px;
  background-color: $btn-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 0 0 1px $dark-border;
  }
}

.slider__range:hover::-ms-thumb {
  @media (min-width: $tablet-width) {
    box-shadow: 0 0 0 1px $dark-border, 0 3px 3px 1px $dark-border;
  }
}

.slider__range:active::-ms-thumb {
  @media (min-width: $tablet-width) {
    box-shadow: 0 0 0 2px $btn-color, 0 6px 3px 1px $dark-border;
  }
}

.slider__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 7px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    margin: 0;
    outline: 0;
  }
}

.slider__range::-moz-range-track {
  width: 100%;
  height: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 8px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    margin-left: 26px;
    margin-right: 18px;
    margin-bottom: 0;
    outline: 0;
  }
}

.slider__range::-ms-track {
  width: 100%;
  height: 16px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 60px;
    background-color: #dcdcdc;
    border: none;
    padding: 0;
    margin-bottom: 0;
    outline: 0;
  }
}

input[type="range"]::-ms-fill-lower {
  width: 100%;
  height: 16px;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    outline: 0;
  }
}

input[type="range"]:focus::-ms-fill-lower {
  background: #dcdcdc;
}

input[type="range"]::-ms-fill-upper {
  width: 100%;
  height: 16px;
  border: 1px solid #dcdcdc;
  background-color: white;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    outline: 0;
  }
}

.slider__progress--after .slider__image-wrapper {
  transform: none;
  outline: none;
  border: none;
}

.slider_progress--after .slider__progress-toggle {
  transition: 2s;
  transform: translateX(-50%);
  outline: none;
  border: none;
}

.slider__progress .slider__progress-toggle {
  transform: translateX(-50%);
  outline: none;
  border: none;
}

.slider {
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, $gray 0%, $gray 73.5%, white 73.5%, white 100%);
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-left: 117px;
    background: none;
    margin-top: -130px;
    padding-bottom: 0;
  }
}
