.slider-image {
  position: relative;
  margin-top: 37px;
  margin-bottom: 33px;
  margin-left: -20px;
  width: 320px;
  height: 240px;
}

.slider__progress-button {
  @include font-osw(16px);
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: -5px;
  cursor: pointer;
}

.slider__buttons-block {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  justify-content: center;
}

.slider__green-range {
  position: absolute;
  content: "";
  width: 35px;
  height: 6px;
  background-color: $green;
  border-radius: 3px;
  left: 6px;
  top: 3px;
}

.slider__range-wrapper {
  width: 83px;
  height: 12px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  border-radius: 6px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 38px;
}
