.social {
  list-style-type: none;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 57px;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding-top: 3px;
  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    height: auto;
    border: none;
    width: 152px;
    justify-content: space-between;
    margin-left: 29px;
    margin-top: -5px;
    padding-left: 81px;
    padding-right: 81px;
  }
}

.social__item {
  width: 53px;
  height: 50px;

  @media (min-width: $tablet-width) {
    width: 50px;
  }

  @media (min-width: $tablet-width) {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

.social__item--vk {
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }
}

.social__item--index {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item-icon {
  fill: currentColor;

  &:hover {
    fill: currentColor;
  }
}

.social__link {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: $social-icon;

  &:hover {
    color: $btn-color;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--catalog {
  &-vk {
    padding-left: 0;
    padding-right: 35px;

    @media (min-width: $tablet-width) {
      margin-left: -8px;
    }
  }

  &-fb {
    margin-left: 0;
    padding-left: 0;
  }

  &-insta {
    margin-left: 0;
    padding-left: 0;
    padding-right: 35px;
  }
}
