.visually-hidden {
  visibility: hidden;
}

.page-header,
.page-main,
.footer-page {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.page-main {
  flex: 1 0 auto;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}

.page-main__form {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.page-header,
.footer-page,
.page-footer {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
