.visually-hidden {
  display: none;
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.page-main {
  flex: 1 0 auto;
  max-width: 1300px;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}

.page-header,
.footer-page {
  max-width: 1300px;
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}

footer {
  flex: 0 0 auto;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
