@mixin font-osw($size-fnt) {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: $size-fnt;
}

@mixin visually-hidden {
  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@mixin big-numbers($number) {
  content: $number;
  position: absolute;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 281px;
  font-weight: 400;
  color: #f2f2f2;
  z-index: -1;
}
