$btn-color: #68b738;
$btn-color-dark: #5eaa2f;
$gray: #f2f2f2;
$header: #111111;
$text-color: #444444;
$border: #d9d9d9;
$light-border: #ededed;
$dark-border: #cdcdcd;
$social-icon: #666666;

$tablet-width: 768px;
$desktop-width: 1300px;
