$white: #ffffff;
$coral-light: #ff8282;
$green: #68b738;
$green-darker: #5eaa2f;
$black: #000000;
$gray: #f2f2f2;
$black-tree: #111111;
$black-brown: #444444;
$light-gray: #cdcdcd;
$gray-border: #ededed;
